* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: auto;
    padding-top: 50px;
}

#start-button {
    background-color: aqua;
    padding: 10px 5px;
    margin-bottom: 20px;
}

#secretNumbers {
    margin-bottom: 20px;
    font-size: 1.5em;
}

#inputElementsContainer {
    text-align: center;
}

#inputElementsContainer input {
    height: 2em;
    width: 250px;
    text-align: center;
}

#check {
    background-color: aqua;
    padding: 10px 5px;
    margin-bottom: 20px;
}

#outputText {
    text-align: center;
    font-size: 1.5em;
}



